In [1]:
import wrds
import pandas as pd
import numpy as np
import datetime as dt
from fuzzywuzzy import fuzz
db = wrds.Connection(wrds_username='jhirschi')

Loading library list...
Done

### Initial Exploration of the Datasets available to us from WRDS

In [52]:
db.list_libraries()

['wrds_lib_internal',
 'ppubsamp_d4d_new',
 'ktmine',
 'levin',
 'lspdsamp',
 'ciqsamp_pplintel_new',
 'ciqsamp_common_new',
 'contrib_char_returns_new',
 'taq',
 'secsamp_all_new',
 'compd',
 'compgd',
 'preqsamp_all_new',
 'compbd',
 'compsegd',
 'crspa',
 'reprisk',
 'rpnasamp',
 'secsamp',
 'dmef',
 'taqmsamp',
 'snlsamp',
 'sustsamp',
 'toyo',
 'taqm_2017',
 'trsdcgs',
 'twoiq',
 'wcai',
 'wqa',
 'wrdsapps',
 'wrdsrpts',
 'wappsamp',
 'taqmsec',
 'taqm_2019',
 'trws',
 'tr_13f',
 'bank',
 'blab',
 'compmcur',
 'ftsesamp',
 'gmi',
 'hbase',
 'ifgr',
 'ims',
 'cisdm',
 'issm',
 'nastraq',
 'pacap',
 'ppublica',
 'public',
 'rent',
 'snl',
 'sprat',
 'sustain',
 'centris',
 'emdb',
 'eureka',
 'evts',
 'govpx',
 'gsi',
 'govpxsmp',
 'hbsamp',
 'block_all_new',
 'fisd',
 'etfgsamp',
 'infogroupsamp_residential',
 'ktmine_patents_samp',
 'factset',
 'wrdssec',
 'infogroupsamp_business',
 'compm',
 'ims_obp_trial',
 'ifgrsamp',
 'imssamp',
 'compseg',
 'ravenpack_trial',
 'iri',
 'ktsamp',
 'snlsamp_fig',
 'crspq',
 'crsp_q_stock',
 'compa',
 'optionmsamp_europe',
 'optionmsamp_us',
 'omtrial',
 'compsnap',
 'fisd_naic',
 'fisdsamp',
 'ftse',
 'fisd_fisd',
 'comph',
 'zacks',
 'compb',
 'tass',
 'clrvt',
 'comp_bank',
 'crspm',
 'kld',
 'rpna',
 'compg',
 'etfg_samp',
 'ibeskpi',
 'etfg',
 'crsp_q_mutualfunds',
 'sdcsamp',
 'aha',
 'lspd',
 'bvd',
 'audit_audit_comp',
 'ginsight',
 'tfn',
 'risk',
 'hfr',
 'ciq_capstrct',
 'taqsamp',
 'ibescorp',
 'comp_execucomp',
 'comp_segments_hist',
 'audit',
 'tr_ibes',
 'sdc',
 'dealscan',
 'execcomp',
 'cboe',
 'trace',
 'ibes',
 'contrib_general_new',
 'trown',
 'crsp_a_stock',
 'mfl',
 'crsp',
 'optionm',
 'tr_mutualfunds',
 'boardex_trial',
 'ciq_common',
 'boardsmp',
 'comscore',
 'boardex',
 'taqm_2015',
 'taqm_2016',
 'taqm_2018',
 'taqm_2020',
 'ff',
 'comp_global',
 'ciq',
 'compdcur',
 'csmar',
 'ciqsamp_pplintel',
 'aha_sample',
 'bvd_amadeus_trial',
 'comp_bank_daily',
 'bvd_orbis_trial',
 'calcbench_trial',
 'comp_segments_hist_daily',
 'ciqsamp_capstrct',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_ratings',
 'ciqsamp_transactions',
 'ciqsamp_transcripts',
 'compsamp_snapshot',
 'contrib_char_returns',
 'contrib_general',
 'eurekahedge_sample',
 'factsamp_revere',
 'fjc_linking',
 'fjc_litigation',
 'hbase_sample',
 'mrktsamp_cds',
 'hfrsamp_hfrdb',
 'macrofin_comm_trade',
 'lvnsamp',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'ppubsamp_d4d',
 'macrofin',
 'mrktsamp',
 'msrb',
 'msrbsamp',
 'phlx',
 'ppubsamp',
 'pwt',
 'reprisk_sample',
 'repsamp',
 'risksamp',
 'snapsamp',
 'totalq',
 'trsamp',
 'twoiqsmp',
 'zacksamp',
 'trace_enhanced',
 'trace_standard',
 'twoiq_samp',
 'wrdssec_midas',
 'ahasamp',
 'block',
 'bvdsamp',
 'calcbnch',
 'ciqsamp',
 'cisdmsmp',
 'clrvtsmp',
 'compsamp',
 'contrib',
 'crspsamp',
 'djones',
 'doe',
 'frb',
 'fssamp',
 'hfrsamp',
 'revere',
 'comp_global_daily',
 'msfinst',
 'otc',
 'otc_endofday',
 'markit',
 'msfanly',
 'comp']

In [4]:
db.list_tables(library='ibes')

['igaact',
 'igachg',
 'igactryactdata',
 'igactryestdata',
 'igaebgdates',
 'igaest',
 'igaindactdata',
 'igaindestdata',
 'igainfo',
 'igarussactdata',
 'igarussestdata',
 'igaspactdata',
 'igaspestdata',
 'igatopixactdata',
 'igatopixestdata',
 'act_epsint',
 'act_epsus',
 'actg',
 'actgu',
 'actpsum_epsint',
 'actpsum_epsus',
 'actpsumu_epsint',
 'actpsumu_epsus',
 'actpsumu_xepsint',
 'actpsumu_xepsus',
 'actpsum_xepsint',
 'actpsum_xepsus',
 'actu_epsint',
 'actu_epsus',
 'actu_xepsint',
 'actu_xepsus',
 'act_xepsint',
 'act_xepsus',
 'adj',
 'adjsum',
 'cfnsum',
 'curr',
 'currnew',
 'det_epsint',
 'det_epsus',
 'detsecd_sepint',
 'detsecd_xsepint',
 'detu_epsint',
 'detu_epsus',
 'detusecd_sepint',
 'detusecd_xsepint',
 'detu_xepsint',
 'detu_xepsus',
 'det_xepsint',
 'det_xepsus',
 'eurx',
 'exc_epsint',
 'exc_epsus',
 'excsecd_sepint',
 'excsecd_xsepint',
 'excu_epsint',
 'excu_epsus',
 'excusecd_sepint',
 'excusecd_xsepint',
 'excu_xepsint',
 'excu_xepsus',
 'exc_xepsint',
 'exc_xepsus',
 'hdxrati',
 'hsxrat',
 'id',
 'idsum',
 'nact_epsint',
 'nact_epsus',
 'nactg',
 'nactgu',
 'nactpsum_epsint',
 'nactpsum_epsus',
 'nactpsumu_epsint',
 'nactpsumu_epsus',
 'nactpsumu_xepsint',
 'nactpsumu_xepsus',
 'nactpsum_xepsint',
 'nactpsum_xepsus',
 'nactu_epsint',
 'nactu_epsus',
 'nactu_xepsint',
 'nactu_xepsus',
 'nact_xepsint',
 'nact_xepsus',
 'ncurr',
 'ndet_epsint',
 'ndet_epsus',
 'ndetsecd_sepint',
 'ndetsecd_xsepint',
 'ndetu_epsint',
 'ndetu_epsus',
 'ndetusecd_sepint',
 'ndetusecd_xsepint',
 'ndetu_xepsint',
 'ndetu_xepsus',
 'ndet_xepsint',
 'ndet_xepsus',
 'newact',
 'newactu',
 'newnact',
 'newnactu',
 'nexc_epsint',
 'nexc_epsus',
 'nexcsecd_sepint',
 'nexcsecd_xsepint',
 'nexcu_epsint',
 'nexcu_epsus',
 'nexcusecd_sepint',
 'nexcusecd_xsepint',
 'nexcu_xepsint',
 'nexcu_xepsus',
 'nexc_xepsint',
 'nexc_xepsus',
 'nptgdet',
 'nptgdetu',
 'nptgsum',
 'nptgsumu',
 'nract_epsint',
 'nract_epsus',
 'nractu_epsint',
 'nractu_epsus',
 'nractu_xepsint',
 'nractu_xepsus',
 'nract_xepsint',
 'nract_xepsus',
 'nsecdssum',
 'nsecdssumu',
 'nstatsum_epsint',
 'nstatsum_epsus',
 'nstatsumu_epsint',
 'nstatsumu_epsus',
 'nstatsumu_xepsint',
 'nstatsumu_xepsus',
 'nstatsum_xepsint',
 'nstatsum_xepsus',
 'nsurpsum',
 'nsurpsumu',
 'pansum',
 'ptgdet',
 'ptgdetu',
 'ptgsum',
 'ptgsumu',
 'ract_epsint',
 'ract_epsus',
 'ractu_epsint',
 'ractu_epsus',
 'ractu_xepsint',
 'ractu_xepsus',
 'ract_xepsint',
 'ract_xepsus',
 'recddet',
 'recdid',
 'recdidsum',
 'recdstp',
 'recdsum',
 'secdrevm',
 'secdssum',
 'secdssumu',
 'statsum_epsint',
 'statsum_epsus',
 'statsumu_epsint',
 'statsumu_epsus',
 'statsumu_xepsint',
 'statsumu_xepsus',
 'statsum_xepsint',
 'statsum_xepsus',
 'stop_epsint',
 'stop_epsus',
 'stopptg',
 'stopsecd_sepint',
 'stopsecd_xsepint',
 'stopu_epsint',
 'stopu_epsus',
 'stopu_xepsint',
 'stopu_xepsus',
 'stop_xepsint',
 'stop_xepsus',
 'surpsum',
 'surpsumu',
 'trbc',
 'det_guidance',
 'det_guidance_ext',
 'glacct',
 'glaction',
 'glcode',
 'glcountry',
 'gldiff',
 'glperiod',
 'glrange',
 'glunit',
 'id_guidance',
 'id_guidance_ext',
 'split_guidance']

In [5]:
#a quick way to find out which schemas we actually have access to in WRDS Compustat
libs = db.list_tables(library='ibes')
for lib in libs:
    try:
        db.get_table(library='ibes', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

Success!! This table works:  act_epsint
Success!! This table works:  act_epsus
Success!! This table works:  actg
Success!! This table works:  actgu
Success!! This table works:  actpsum_epsint
Success!! This table works:  actpsum_epsus
Success!! This table works:  actpsumu_epsint
Success!! This table works:  actpsumu_epsus
Success!! This table works:  actpsumu_xepsint
Success!! This table works:  actpsumu_xepsus
Success!! This table works:  actpsum_xepsint
Success!! This table works:  actpsum_xepsus
Success!! This table works:  actu_epsint
Success!! This table works:  actu_epsus
Success!! This table works:  actu_xepsint
Success!! This table works:  actu_xepsus
Success!! This table works:  act_xepsint
Success!! This table works:  act_xepsus
Success!! This table works:  adj
Success!! This table works:  adjsum
Success!! This table works:  cfnsum
Success!! This table works:  curr
Success!! This table works:  currnew
Success!! This table works:  det_epsint
Success!! This table works:  det_epsus
Success!! This table works:  detsecd_sepint
Success!! This table works:  detsecd_xsepint
Success!! This table works:  detu_epsint
Success!! This table works:  detu_epsus
Success!! This table works:  detusecd_sepint
Success!! This table works:  detusecd_xsepint
Success!! This table works:  detu_xepsint
Success!! This table works:  detu_xepsus
Success!! This table works:  det_xepsint
Success!! This table works:  det_xepsus
Success!! This table works:  eurx
Success!! This table works:  exc_epsint
Success!! This table works:  exc_epsus
Success!! This table works:  excsecd_sepint
Success!! This table works:  excsecd_xsepint
Success!! This table works:  excu_epsint
Success!! This table works:  excu_epsus
Success!! This table works:  excusecd_sepint
Success!! This table works:  excusecd_xsepint
Success!! This table works:  excu_xepsint
Success!! This table works:  excu_xepsus
Success!! This table works:  exc_xepsint
Success!! This table works:  exc_xepsus
Success!! This table works:  hdxrati
Success!! This table works:  hsxrat
Success!! This table works:  id
Success!! This table works:  idsum
Success!! This table works:  nact_epsint
Success!! This table works:  nact_epsus
Success!! This table works:  nactg
Success!! This table works:  nactgu
Success!! This table works:  nactpsum_epsint
Success!! This table works:  nactpsum_epsus
Success!! This table works:  nactpsumu_epsint
Success!! This table works:  nactpsumu_epsus
Success!! This table works:  nactpsumu_xepsint
Success!! This table works:  nactpsumu_xepsus
Success!! This table works:  nactpsum_xepsint
Success!! This table works:  nactpsum_xepsus
Success!! This table works:  nactu_epsint
Success!! This table works:  nactu_epsus
Success!! This table works:  nactu_xepsint
Success!! This table works:  nactu_xepsus
Success!! This table works:  nact_xepsint
Success!! This table works:  nact_xepsus
Success!! This table works:  ncurr
Success!! This table works:  ndet_epsint
Success!! This table works:  ndet_epsus
Success!! This table works:  ndetsecd_sepint
Success!! This table works:  ndetsecd_xsepint
Success!! This table works:  ndetu_epsint
Success!! This table works:  ndetu_epsus
Success!! This table works:  ndetusecd_sepint
Success!! This table works:  ndetusecd_xsepint
Success!! This table works:  ndetu_xepsint
Success!! This table works:  ndetu_xepsus
Success!! This table works:  ndet_xepsint
Success!! This table works:  ndet_xepsus
Success!! This table works:  newact
Success!! This table works:  newactu
Success!! This table works:  newnact
Success!! This table works:  newnactu
Success!! This table works:  nexc_epsint
Success!! This table works:  nexc_epsus
Success!! This table works:  nexcsecd_sepint
Success!! This table works:  nexcsecd_xsepint
Success!! This table works:  nexcu_epsint
Success!! This table works:  nexcu_epsus
Success!! This table works:  nexcusecd_sepint
Success!! This table works:  nexcusecd_xsepint
Success!! This table works:  nexcu_xepsint
Success!! This table works:  nexcu_xepsus
Success!! This table works:  nexc_xepsint
Success!! This table works:  nexc_xepsus
Success!! This table works:  nptgdet
Success!! This table works:  nptgdetu
Success!! This table works:  nptgsum
Success!! This table works:  nptgsumu
Success!! This table works:  nract_epsint
Success!! This table works:  nract_epsus
Success!! This table works:  nractu_epsint
Success!! This table works:  nractu_epsus
Success!! This table works:  nractu_xepsint
Success!! This table works:  nractu_xepsus
Success!! This table works:  nract_xepsint
Success!! This table works:  nract_xepsus
Success!! This table works:  nsecdssum
Success!! This table works:  nsecdssumu
Success!! This table works:  nstatsum_epsint
Success!! This table works:  nstatsum_epsus
Success!! This table works:  nstatsumu_epsint
Success!! This table works:  nstatsumu_epsus
Success!! This table works:  nstatsumu_xepsint
Success!! This table works:  nstatsumu_xepsus
Success!! This table works:  nstatsum_xepsint
Success!! This table works:  nstatsum_xepsus
Success!! This table works:  nsurpsum
Success!! This table works:  nsurpsumu
Success!! This table works:  pansum
Success!! This table works:  ptgdet
Success!! This table works:  ptgdetu
Success!! This table works:  ptgsum
Success!! This table works:  ptgsumu
Success!! This table works:  ract_epsint
Success!! This table works:  ract_epsus
Success!! This table works:  ractu_epsint
Success!! This table works:  ractu_epsus
Success!! This table works:  ractu_xepsint
Success!! This table works:  ractu_xepsus
Success!! This table works:  ract_xepsint
Success!! This table works:  ract_xepsus
Success!! This table works:  recddet
Success!! This table works:  recdid
Success!! This table works:  recdidsum
Success!! This table works:  recdstp
Success!! This table works:  recdsum
Success!! This table works:  secdrevm
Success!! This table works:  secdssum
Success!! This table works:  secdssumu
Success!! This table works:  statsum_epsint
Success!! This table works:  statsum_epsus
Success!! This table works:  statsumu_epsint
Success!! This table works:  statsumu_epsus
Success!! This table works:  statsumu_xepsint
Success!! This table works:  statsumu_xepsus
Success!! This table works:  statsum_xepsint
Success!! This table works:  statsum_xepsus
Success!! This table works:  stop_epsint
Success!! This table works:  stop_epsus
Success!! This table works:  stopptg
Success!! This table works:  stopsecd_sepint
Success!! This table works:  stopsecd_xsepint
Success!! This table works:  stopu_epsint
Success!! This table works:  stopu_epsus
Success!! This table works:  stopu_xepsint
Success!! This table works:  stopu_xepsus
Success!! This table works:  stop_xepsint
Success!! This table works:  stop_xepsus
Success!! This table works:  surpsum
Success!! This table works:  surpsumu
Success!! This table works:  trbc

In [2]:
db.list_tables(library='comp')

['filings',
 'bank_aacctchg',
 'bank_adesind',
 'bank_afnd1',
 'bank_afnd2',
 'bank_afnddc1',
 'bank_afnddc2',
 'bank_afntind',
 'bank_funda',
 'bank_funda_fncd',
 'bank_fundq',
 'bank_fundq_fncd',
 'bank_iacctchg',
 'bank_idesind',
 'bank_ifndq',
 'bank_ifndytd',
 'bank_ifntq',
 'bank_ifntytd',
 'bank_names',
 'bank_namesq',
 'g_chars',
 'g_co_aaudit',
 'g_co_adesind',
 'g_co_afnd1',
 'g_co_afnd2',
 'g_co_afnddc1',
 'g_co_afnddc2',
 'g_co_afntind1',
 'g_co_afntind2',
 'g_co_ainvval',
 'g_co_hgic',
 'g_co_iaudit',
 'g_co_idesind',
 'g_co_ifndq',
 'g_co_ifndsa',
 'g_co_ifndytd',
 'g_co_ifntq',
 'g_co_ifntsa',
 'g_co_ifntytd',
 'g_co_industry',
 'g_co_ipcd',
 'g_company',
 'g_co_offtitl',
 'g_currency',
 'g_ecind_desc',
 'g_ecind_mth',
 'g_exrt_dly',
 'g_exrt_mth',
 'g_funda',
 'g_funda_fncd',
 'g_fundq',
 'g_fundq_fncd',
 'g_idxcst_his',
 'g_idx_daily',
 'g_idx_index',
 'g_idx_mth',
 'g_names',
 'g_names_ix',
 'g_names_ix_cst',
 'g_namesq',
 'g_sec_adesind',
 'g_sec_adjfact',
 'g_sec_afnd',
 'g_sec_afnddc',
 'g_sec_afnt',
 'g_secd',
 'g_sec_divid',
 'g_sec_dprc',
 'g_sec_dtrt',
 'g_sec_history',
 'g_sec_idesind',
 'g_sec_ifnd',
 'g_sec_ifnt',
 'g_secnamesd',
 'g_sec_split',
 'g_security',
 'g_sedolgvkey',
 'aco_amda',
 'aco_imda',
 'aco_indfnta',
 'aco_indfntq',
 'aco_indfntytd',
 'aco_indsta',
 'aco_indstq',
 'aco_indstytd',
 'aco_notesa',
 'aco_notesq',
 'aco_notessa',
 'aco_notesytd',
 'aco_pnfnda',
 'aco_pnfndq',
 'aco_pnfndytd',
 'aco_pnfnta',
 'aco_pnfntq',
 'aco_pnfntytd',
 'aco_transa',
 'aco_transq',
 'aco_transsa',
 'aco_transytd',
 'adsprate',
 'asec_amda',
 'asec_imda',
 'asec_notesa',
 'asec_notesq',
 'asec_transa',
 'asec_transq',
 'chars',
 'co_aacctchg',
 'co_aaudit',
 'co_adesind',
 'co_adjfact',
 'co_afnd1',
 'co_afnd2',
 'co_afnddc1',
 'co_afnddc2',
 'co_afntind1',
 'co_afntind2',
 'co_ainvval',
 'co_amkt',
 'co_busdescl',
 'co_cotype',
 'co_filedate',
 'co_fortune',
 'co_hgic',
 'co_iacctchg',
 'co_iaudit',
 'co_idesind',
 'co_ifndq',
 'co_ifndsa',
 'co_ifndytd',
 'co_ifntq',
 'co_ifntsa',
 'co_ifntytd',
 'co_imkt',
 'co_industry',
 'co_ipcd',
 'company',
 'co_mthly',
 'co_offtitl',
 'currency',
 'dd_group',
 'dd_group_xref',
 'dd_item',
 'dd_package',
 'ecind_desc',
 'ecind_mth',
 'exrt_dly',
 'exrt_mth',
 'funda',
 'funda_fncd',
 'fundq',
 'fundq_fncd',
 'idx_ann',
 'idx_anndes',
 'idxcst_his',
 'idx_daily',
 'idx_index',
 'idx_mth',
 'idx_qrt',
 'idx_qrtdes',
 'io_qaggregate',
 'io_qbuysell',
 'io_qchanges',
 'io_qfloatadj',
 'io_qholders',
 'it_mbuysell',
 'it_msummary',
 'it_r_rltn',
 'names',
 'names_aco_indsta',
 'names_aco_indstq',
 'names_aco_pnfnda',
 'names_aco_pnfndq',
 'names_adsprate',
 'namesd',
 'names_ix',
 'names_ix_cst',
 'namesm',
 'namesq',
 'names_seg',
 'r_accstd',
 'r_acqmeth',
 'r_auditors',
 'r_auopic',
 'r_balpres',
 'r_cf_formt',
 'r_coindpre',
 'r_compstat',
 'r_consol',
 'r_co_status',
 'r_country',
 'r_cstclscd',
 'r_datacode',
 'r_datafmt',
 'r_divtaxmarker',
 'r_docsrce',
 'r_exchgtier',
 'r_ex_codes',
 'r_exrt_typ',
 'r_fndfntcd',
 'r_footnts',
 'r_foricd',
 'r_giccd',
 'r_hcalendr',
 'r_idxclscd',
 'r_inactvcd',
 'r_incstats',
 'r_indfmt',
 'r_indsec',
 'r_invval',
 'r_issuetyp',
 'r_majidxcl',
 'r_mic_codes',
 'r_naiccd',
 'r_notetype',
 'r_ntsubtype',
 'r_offcrso',
 'r_ogmethod',
 'r_opinions',
 'r_prc_stat',
 'r_qsrcdoc',
 'r_secannfn',
 'r_sec_stat',
 'r_sectors',
 'r_siccd',
 'r_spiicd',
 'r_spmicd',
 'r_statalrt',
 'r_states',
 'r_stko',
 'r_titles',
 'r_updates',
 'sec_adesind',
 'sec_adjfact',
 'sec_afnd',
 'sec_afnddc',
 'sec_afnt',
 'secd',
 'sec_divid',
 'sec_dprc',
 'sec_dtrt',
 'sec_history',
 'sec_idesind',
 'sec_ifnd',
 'sec_ifnt',
 'secm',
 'sec_mdivfn',
 'sec_mshare',
 'sec_msptfn',
 'sec_mth',
 'sec_mthdiv',
 'sec_mthprc',
 'sec_mthspt',
 'sec_mthtrt',
 'sec_shortint',
 'sec_spind',
 'sec_split',
 'security',
 'sedolgvkey',
 'seg_ann',
 'seg_annfund',
 'seg_customer',
 'seg_geo',
 'seg_naics',
 'seg_product',
 'seg_type',
 'spidx_cst',
 'spind',
 'spind_dly',
 'spind_mth',
 'wrds_seg_customer',
 'wrds_seg_geo',
 'wrds_segmerged',
 'wrds_seg_product',
 'xfl_column',
 'xfl_table']

In [3]:
#a quick way to find out which schemas we actually have access to in WRDS Compustat
libs = db.list_tables(library='comp')
for lib in libs:
    try:
        db.get_table(library='comp', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

Success!! This table works:  bank_aacctchg
Success!! This table works:  bank_adesind
Success!! This table works:  bank_afnd1
Success!! This table works:  bank_afnd2
Success!! This table works:  bank_afnddc1
Success!! This table works:  bank_afnddc2
Success!! This table works:  bank_afntind
Success!! This table works:  bank_funda
Success!! This table works:  bank_funda_fncd
Success!! This table works:  bank_fundq
Success!! This table works:  bank_fundq_fncd
Success!! This table works:  bank_iacctchg
Success!! This table works:  bank_idesind
Success!! This table works:  bank_ifndq
Success!! This table works:  bank_ifndytd
Success!! This table works:  bank_ifntq
Success!! This table works:  bank_ifntytd
Success!! This table works:  bank_names
Success!! This table works:  bank_namesq
Success!! This table works:  g_chars
Success!! This table works:  g_co_aaudit
Success!! This table works:  g_co_adesind
Success!! This table works:  g_co_afnd1
Success!! This table works:  g_co_afnd2
Success!! This table works:  g_co_afnddc1
Success!! This table works:  g_co_afnddc2
Success!! This table works:  g_co_afntind1
Success!! This table works:  g_co_afntind2
Success!! This table works:  g_co_ainvval
Success!! This table works:  g_co_hgic
Success!! This table works:  g_co_iaudit
Success!! This table works:  g_co_idesind
Success!! This table works:  g_co_ifndq
Success!! This table works:  g_co_ifndsa
Success!! This table works:  g_co_ifndytd
Success!! This table works:  g_co_ifntq
Success!! This table works:  g_co_ifntsa
Success!! This table works:  g_co_ifntytd
Success!! This table works:  g_co_industry
Success!! This table works:  g_co_ipcd
Success!! This table works:  g_company
Success!! This table works:  g_co_offtitl
Success!! This table works:  g_currency
Success!! This table works:  g_ecind_desc
Success!! This table works:  g_ecind_mth
Success!! This table works:  g_exrt_dly
Success!! This table works:  g_exrt_mth
Success!! This table works:  g_funda
Success!! This table works:  g_funda_fncd
Success!! This table works:  g_fundq
Success!! This table works:  g_fundq_fncd
Success!! This table works:  g_idxcst_his
Success!! This table works:  g_idx_daily
Success!! This table works:  g_idx_index
Success!! This table works:  g_idx_mth
Success!! This table works:  g_names
Success!! This table works:  g_names_ix
Success!! This table works:  g_names_ix_cst
Success!! This table works:  g_namesq
Success!! This table works:  g_sec_adesind
Success!! This table works:  g_sec_adjfact
Success!! This table works:  g_sec_afnd
Success!! This table works:  g_sec_afnddc
Success!! This table works:  g_sec_afnt
Success!! This table works:  g_secd
Success!! This table works:  g_sec_divid
Success!! This table works:  g_sec_dprc
Success!! This table works:  g_sec_dtrt
Success!! This table works:  g_sec_history
Success!! This table works:  g_sec_idesind
Success!! This table works:  g_sec_ifnd
Success!! This table works:  g_sec_ifnt
Success!! This table works:  g_secnamesd
Success!! This table works:  g_sec_split
Success!! This table works:  g_security
Success!! This table works:  g_sedolgvkey
Success!! This table works:  aco_amda
Success!! This table works:  aco_imda
Success!! This table works:  aco_indfnta
Success!! This table works:  aco_indfntq
Success!! This table works:  aco_indfntytd
Success!! This table works:  aco_indsta
Success!! This table works:  aco_indstq
Success!! This table works:  aco_indstytd
Success!! This table works:  aco_notesa
Success!! This table works:  aco_notesq
Success!! This table works:  aco_notessa
Success!! This table works:  aco_notesytd
Success!! This table works:  aco_pnfnda
Success!! This table works:  aco_pnfndq
Success!! This table works:  aco_pnfndytd
Success!! This table works:  aco_pnfnta
Success!! This table works:  aco_pnfntq
Success!! This table works:  aco_pnfntytd
Success!! This table works:  aco_transa
Success!! This table works:  aco_transq
Success!! This table works:  aco_transsa
Success!! This table works:  aco_transytd
Success!! This table works:  adsprate
Success!! This table works:  asec_amda
Success!! This table works:  asec_imda
Success!! This table works:  asec_notesa
Success!! This table works:  asec_notesq
Success!! This table works:  asec_transa
Success!! This table works:  asec_transq
Success!! This table works:  chars
Success!! This table works:  co_aacctchg
Success!! This table works:  co_aaudit
Success!! This table works:  co_adesind
Success!! This table works:  co_adjfact
Success!! This table works:  co_afnd1
Success!! This table works:  co_afnd2
Success!! This table works:  co_afnddc1
Success!! This table works:  co_afnddc2
Success!! This table works:  co_afntind1
Success!! This table works:  co_afntind2
Success!! This table works:  co_ainvval
Success!! This table works:  co_amkt
Success!! This table works:  co_busdescl
Success!! This table works:  co_cotype
Success!! This table works:  co_filedate
Success!! This table works:  co_fortune
Success!! This table works:  co_hgic
Success!! This table works:  co_iacctchg
Success!! This table works:  co_iaudit
Success!! This table works:  co_idesind
Success!! This table works:  co_ifndq
Success!! This table works:  co_ifndsa
Success!! This table works:  co_ifndytd
Success!! This table works:  co_ifntq
Success!! This table works:  co_ifntsa
Success!! This table works:  co_ifntytd
Success!! This table works:  co_imkt
Success!! This table works:  co_industry
Success!! This table works:  co_ipcd
Success!! This table works:  company
Success!! This table works:  co_mthly
Success!! This table works:  co_offtitl
Success!! This table works:  currency
Success!! This table works:  dd_group
Success!! This table works:  dd_group_xref
Success!! This table works:  dd_item
Success!! This table works:  dd_package
Success!! This table works:  ecind_desc
Success!! This table works:  ecind_mth
Success!! This table works:  exrt_dly
Success!! This table works:  exrt_mth
Success!! This table works:  funda
Success!! This table works:  funda_fncd
Success!! This table works:  fundq
Success!! This table works:  fundq_fncd
Success!! This table works:  idx_ann
Success!! This table works:  idx_anndes
Success!! This table works:  idxcst_his
Success!! This table works:  idx_daily
Success!! This table works:  idx_index
Success!! This table works:  idx_mth
Success!! This table works:  idx_qrt
Success!! This table works:  idx_qrtdes
Success!! This table works:  io_qaggregate
Success!! This table works:  io_qbuysell
Success!! This table works:  io_qchanges
Success!! This table works:  io_qfloatadj
Success!! This table works:  io_qholders
Success!! This table works:  it_mbuysell
Success!! This table works:  it_msummary
Success!! This table works:  it_r_rltn
Success!! This table works:  names
Success!! This table works:  names_aco_indsta
Success!! This table works:  names_aco_indstq
Success!! This table works:  names_aco_pnfnda
Success!! This table works:  names_aco_pnfndq
Success!! This table works:  names_adsprate
Success!! This table works:  namesd
Success!! This table works:  names_ix
Success!! This table works:  names_ix_cst
Success!! This table works:  namesm
Success!! This table works:  namesq
Success!! This table works:  names_seg
Success!! This table works:  r_accstd
Success!! This table works:  r_acqmeth
Success!! This table works:  r_auditors
Success!! This table works:  r_auopic
Success!! This table works:  r_balpres
Success!! This table works:  r_cf_formt
Success!! This table works:  r_coindpre
Success!! This table works:  r_compstat
Success!! This table works:  r_consol
Success!! This table works:  r_co_status
Success!! This table works:  r_country
Success!! This table works:  r_cstclscd
Success!! This table works:  r_datacode
Success!! This table works:  r_datafmt
Success!! This table works:  r_divtaxmarker
Success!! This table works:  r_docsrce
Success!! This table works:  r_exchgtier
Success!! This table works:  r_ex_codes
Success!! This table works:  r_exrt_typ
Success!! This table works:  r_fndfntcd
Success!! This table works:  r_footnts
Success!! This table works:  r_foricd
Success!! This table works:  r_giccd
Success!! This table works:  r_hcalendr
Success!! This table works:  r_idxclscd

Success!! This table works:  r_inactvcd
Success!! This table works:  r_incstats
Success!! This table works:  r_indfmt
Success!! This table works:  r_indsec
Success!! This table works:  r_invval
Success!! This table works:  r_issuetyp
Success!! This table works:  r_majidxcl
Success!! This table works:  r_mic_codes
Success!! This table works:  r_naiccd
Success!! This table works:  r_notetype
Success!! This table works:  r_ntsubtype
Success!! This table works:  r_offcrso
Success!! This table works:  r_ogmethod
Success!! This table works:  r_opinions
Success!! This table works:  r_prc_stat
Success!! This table works:  r_qsrcdoc
Success!! This table works:  r_secannfn
Success!! This table works:  r_sec_stat
Success!! This table works:  r_sectors
Success!! This table works:  r_siccd
Success!! This table works:  r_spiicd
Success!! This table works:  r_spmicd
Success!! This table works:  r_statalrt
Success!! This table works:  r_states
Success!! This table works:  r_stko
Success!! This table works:  r_titles
Success!! This table works:  r_updates
Success!! This table works:  sec_adesind
Success!! This table works:  sec_adjfact
Success!! This table works:  sec_afnd
Success!! This table works:  sec_afnddc
Success!! This table works:  sec_afnt
Success!! This table works:  secd
Success!! This table works:  sec_divid
Success!! This table works:  sec_dprc
Success!! This table works:  sec_dtrt
Success!! This table works:  sec_history
Success!! This table works:  sec_idesind
Success!! This table works:  sec_ifnd
Success!! This table works:  sec_ifnt
Success!! This table works:  secm
Success!! This table works:  sec_mdivfn
Success!! This table works:  sec_mshare
Success!! This table works:  sec_msptfn
Success!! This table works:  sec_mth
Success!! This table works:  sec_mthdiv
Success!! This table works:  sec_mthprc
Success!! This table works:  sec_mthspt
Success!! This table works:  sec_mthtrt
Success!! This table works:  sec_shortint
Success!! This table works:  sec_spind
Success!! This table works:  sec_split
Success!! This table works:  security
Success!! This table works:  sedolgvkey
Success!! This table works:  seg_ann
Success!! This table works:  seg_annfund
Success!! This table works:  seg_customer
Success!! This table works:  seg_geo
Success!! This table works:  seg_naics
Success!! This table works:  seg_product
Success!! This table works:  seg_type
Success!! This table works:  spidx_cst
Success!! This table works:  spind
Success!! This table works:  spind_dly
Success!! This table works:  spind_mth
Success!! This table works:  wrds_seg_customer
Success!! This table works:  wrds_seg_geo
Success!! This table works:  wrds_segmerged
Success!! This table works:  wrds_seg_product
Success!! This table works:  xfl_column
Success!! This table works:  xfl_table

In [20]:
#a quick way to find out which schemas we actually have access to in WRDS CRSP
libs = db.list_tables(library='crsp')
for lib in libs:
    try:
        db.get_table(library='crsp', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

Success!! This table works:  contact_info
Success!! This table works:  crsp_cik_map
Success!! This table works:  crsp_portno_map
Success!! This table works:  daily_nav
Success!! This table works:  daily_nav_ret
Success!! This table works:  daily_returns
Success!! This table works:  dividends
Success!! This table works:  front_load
Success!! This table works:  front_load_det
Success!! This table works:  front_load_grp
Success!! This table works:  fund_fees
Success!! This table works:  fund_flows
Success!! This table works:  fund_hdr
Success!! This table works:  fund_hdr_hist
Success!! This table works:  fund_names
Success!! This table works:  fund_style
Success!! This table works:  fund_summary
Success!! This table works:  fund_summary2
Success!! This table works:  holdings
Success!! This table works:  mfdbname
Success!! This table works:  monthly_nav
Success!! This table works:  monthly_returns
Success!! This table works:  monthly_tna
Success!! This table works:  monthly_tna_ret_nav
Success!! This table works:  portnomap
Success!! This table works:  rear_load
Success!! This table works:  rear_load_det
Success!! This table works:  rear_load_grp
Success!! This table works:  dse
Success!! This table works:  dseall
Success!! This table works:  dsedelist
Success!! This table works:  dsedist
Success!! This table works:  dseexchdates
Success!! This table works:  dsenames
Success!! This table works:  dsenasdin
Success!! This table works:  dseshares
Success!! This table works:  dsf
Success!! This table works:  dsfhdr
Success!! This table works:  dsi
Success!! This table works:  dsiy
Success!! This table works:  mse
Success!! This table works:  mseall
Success!! This table works:  msedelist
Success!! This table works:  msedist
Success!! This table works:  mseexchdates
Success!! This table works:  msenames
Success!! This table works:  msenasdin
Success!! This table works:  mseshares
Success!! This table works:  msf
Success!! This table works:  msfhdr
Success!! This table works:  msi
Success!! This table works:  msiy
Success!! This table works:  saz_del
Success!! This table works:  saz_dind
Success!! This table works:  saz_dis
Success!! This table works:  saz_dp_dly
Success!! This table works:  saz_ds_dly
Success!! This table works:  saz_hdr
Success!! This table works:  saz_indhdr
Success!! This table works:  saz_mdel
Success!! This table works:  saz_mind
Success!! This table works:  saz_mth
Success!! This table works:  saz_nam
Success!! This table works:  saz_ndi
Success!! This table works:  saz_shr
Success!! This table works:  stocknames
Success!! This table works:  stock_qvards

### Begin filtering list of unique tickers/cusips/identifiers

In [28]:
db.get_table(library='crsp', table='stocknames', obs=10)

,permno,permco,namedt,nameenddt,cusip,ncusip,ticker,comnam,hexcd,exchcd,siccd,shrcd,shrcls,st_date,end_date,namedum
0,10000.0,7952.0,1986-01-07,1987-06-11,68391610,68391610,OMFGA,OPTIMUM MANUFACTURING INC,3.0,3.0,3990.0,10.0,A,1986-01-31,1987-06-30,2.0
1,10001.0,7953.0,1986-01-09,1993-11-21,36720410,39040610,GFGC,GREAT FALLS GAS CO,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
2,10001.0,7953.0,1993-11-22,2008-02-04,36720410,29274A10,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
3,10001.0,7953.0,2008-02-05,2009-08-03,36720410,29274A20,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
4,10001.0,7953.0,2009-08-04,2009-12-17,36720410,29269V10,EGAS,ENERGY INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
5,10001.0,7953.0,2009-12-18,2010-07-08,36720410,29269V10,EGAS,ENERGY INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
6,10001.0,7953.0,2010-07-09,2017-08-03,36720410,36720410,EGAS,GAS NATURAL INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
7,10002.0,7954.0,1986-01-10,1993-09-29,05978R10,60740110,MBNC,MOBILE NATIONAL CORP,3.0,3.0,6710.0,10.0,None,1986-01-31,2013-02-28,2.0
8,10002.0,7954.0,1993-09-30,2002-05-14,05978R10,83623410,SABC,SOUTH ALABAMA BANCORPORATION IN,3.0,3.0,6710.0,11.0,None,1986-01-31,2013-02-28,2.0
9,10002.0,7954.0,2002-05-15,2013-02-15,05978R10,05978R10,BTFG,BANCTRUST FINANCIAL GROUP INC,3.0,3.0,6020.0,11.0,None,1986-01-31,2013-02-28,2.0

In [78]:
#make initial pull to get identifying info for the companies in the db that currently exist
#then we group them by the exchange they are on
stk_names = db.raw_sql(''' select permno, permco, cusip, ncusip, ticker, comnam, exchcd, namedt, nameenddt, st_date, end_date from crsp.stocknames where end_date = '2019-12-31' ''')
stk_names[['ticker', 'exchcd']].groupby('exchcd').count()

        ticker
exchcd
-2.0         8
-1.0        40
 0.0         0
 1.0      4455
 2.0      1458
 3.0      5806
 4.0      2233
 5.0       363
 6.0         1
 31.0       16
 32.0        6
 33.0        3

Will only look at companies on exchanges 1 - 5

In [79]:
#add filters to get our selection of companies for which we will need matches
#each row is the most recent version of the company name/ticker/cusip of all the available versions
#this is our "names" dataframe
names = stk_names.loc[(~stk_names['ticker'].isnull())&(stk_names['exchcd'].isin([1,2,3,4,5]))].copy()
names.drop_duplicates(subset=['permno', 'permco', 'cusip', 'ncusip', 'ticker'], keep='first', inplace=True)
names.drop_duplicates(subset=['permno', 'permco', 'cusip'], keep='last', inplace=True)
names

,permno,permco,cusip,ncusip,ticker,comnam,exchcd,namedt,nameenddt,st_date,end_date
0,10026.0,7976.0,46603210,46603210,JJSF,J & J SNACK FOODS CORP,3.0,1986-02-04,2019-12-31,1986-02-28,2019-12-31
12,10028.0,7978.0,29402E10,29402E10,ELA,ENVELA CORP,2.0,2019-12-18,2019-12-31,1986-02-28,2019-12-31
13,10032.0,7980.0,72913210,72913210,PLXS,PLEXUS CORP,3.0,1986-02-05,2019-12-31,1986-02-28,2019-12-31
16,10044.0,7992.0,77467X10,77467X10,RMCF,ROCKY MOUNTAIN CHOC FAC INC NEW,3.0,2015-03-02,2019-12-31,1986-02-28,2019-12-31
21,10051.0,7999.0,41043F20,41043F20,HGR,HANGER ORTHOPEDIC GROUP INC,2.0,1991-05-01,1998-12-14,1986-02-28,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...
14995,93426.0,53443.0,92835K10,92835K10,VPG,VISHAY PRECISION GROUP INC,1.0,2010-07-07,2019-12-31,2010-07-30,2019-12-31
14996,93427.0,53445.0,G3323L10,G3323L10,FN,FABRINET,1.0,2010-06-25,2019-12-31,2010-06-30,2019-12-31
14997,93429.0,53447.0,12503M10,12503M10,CBOE,C B O E HOLDINGS INC,3.0,2010-06-15,2017-10-17,2010-06-30,2019-12-31
15000,93434.0,53427.0,78513510,78513510,SANW,S & W SEED CO,3.0,2010-06-14,2019-12-31,2010-06-30,2019-12-31
15001,93436.0,53453.0,88160R10,88160R10,TSLA,TESLA MOTORS INC,3.0,2010-06-29,2017-02-01,2010-06-30,2019-12-31

Needed to filter to unique permno/permco/cusip. These identifiers will enable us to match data across the databases, despite the fact that companies relist themselves on different exchanges and change tickers regularly

### Below, will match each company with it's fiscal dates to figure out when its quarterly financial statements are released

##### Get the GVKEY matches, evaluate quality of matches and merge into single table

In [16]:
def get_gvkey_match(cusip):
    df= db.raw_sql('''
    select a.conm, a.gvkey, a.naics, b.cusip as long_cusip, left(b.cusip, 8) as cusip, b.tic from comp.company a 
    left join comp.security b
    on a.gvkey = b.gvkey
    where left(b.cusip, 8) ='{}' '''.format(cusip))
    return df

In [67]:
def evaluate_match(comp, crsp):
    #evaluate precision of cusip match (only one row), ticker match, and company name match
    if len(comp) == 1 and comp['cusip'].iloc[0]==crsp.cusip:
        comp['cusip_score']=1
        comp['ticker_match_score']=fuzz.ratio(comp['tic'].iloc[0], crsp.ticker)
        comp['name_match_score']=fuzz.partial_ratio(comp['conm'].iloc[0], crsp.comnam)
    else:
        comp['cusip_score']=0
    return comp

In [61]:
def get_matches_from_names(names): #the loop function. Requires a "names" dataframe
    match = []
    for ent in names.itertuples():
        temp = get_gvkey_match(ent.cusip)
        temp = evaluate_match(temp, ent)
        match.append(temp)
    match = pd.concat(match)
    names = names.merge(match, how = 'left', on='cusip')
    return names

In [75]:
def clean_up_matches(names):
    names['average_match_score']=names[['ticker_match_score', 'name_match_score']].mean(axis=1)
    names = names.loc[(names['cusip_score']==1) & (names['average_match_score']>75)].copy()
    names = names[['permno', 'permco', 'ncusip', 'cusip', 'ticker', 'comnam', 'tic', 'conm', 'gvkey', 'long_cusip', 'naics', 'exchcd', 'namedt', 'nameenddt', 'st_date', 'end_date', 'cusip_score', 'ticker_match_score', 'name_match_score', 'average_match_score']]
    return names

In [80]:
#get all the matches for the CRSP companies in the "names" dataframe
names = get_matches_from_names(names)
names = clean_up_matches(names)

In [82]:
names[['ticker_match_score', 'name_match_score', 'average_match_score']].mean(axis=0)

ticker_match_score     99.701990
name_match_score       88.224279
average_match_score    93.963134
dtype: float64

In [83]:
names.to_csv('company_names_matched.csv', index=0)

In [86]:
names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6483 entries, 0 to 7878
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   permno               6483 non-null   float64
 1   permco               6483 non-null   float64
 2   ncusip               6483 non-null   object
 3   cusip                6483 non-null   object
 4   ticker               6483 non-null   object
 5   comnam               6483 non-null   object
 6   tic                  6483 non-null   object
 7   conm                 6483 non-null   object
 8   gvkey                6483 non-null   object
 9   long_cusip           6483 non-null   object
 10  naics                6119 non-null   object
 11  exchcd               6483 non-null   float64
 12  namedt               6483 non-null   object
 13  nameenddt            6483 non-null   object
 14  st_date              6483 non-null   object
 15  end_date             6483 non-null   object
 16  cusip_score          6483 non-null   float64
 17  ticker_match_score   6483 non-null   float64
 18  name_match_score     6483 non-null   float64
 19  average_match_score  6483 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1.0+ MB

##### Get the quarterly statement dates

In [20]:
db.describe_table(library='comp', table='fundq').name.tolist()

Approximately 1817440 rows in comp.fundq.

['gvkey',
 'datadate',
 'fyearq',
 'fqtr',
 'fyr',
 'indfmt',
 'consol',
 'popsrc',
 'datafmt',
 'tic',
 'cusip',
 'conm',
 'acctchgq',
 'acctstdq',
 'adrrq',
 'ajexq',
 'ajpq',
 'bsprq',
 'compstq',
 'curcdq',
 'curncdq',
 'currtrq',
 'curuscnq',
 'datacqtr',
 'datafqtr',
 'finalq',
 'ogmq',
 'rp',
 'scfq',
 'srcq',
 'staltq',
 'updq',
 'apdedateq',
 'fdateq',
 'pdateq',
 'rdq',
 'acchgq',
 'acomincq',
 'acoq',
 'actq',
 'altoq',
 'ancq',
 'anoq',
 'aociderglq',
 'aociotherq',
 'aocipenq',
 'aocisecglq',
 'aol2q',
 'aoq',
 'apq',
 'aqaq',
 'aqdq',
 'aqepsq',
 'aqpl1q',
 'aqpq',
 'arcedq',
 'arceepsq',
 'arceq',
 'atq',
 'aul3q',
 'billexceq',
 'capr1q',
 'capr2q',
 'capr3q',
 'capsftq',
 'capsq',
 'ceiexbillq',
 'ceqq',
 'cheq',
 'chq',
 'cibegniq',
 'cicurrq',
 'ciderglq',
 'cimiiq',
 'ciotherq',
 'cipenq',
 'ciq',
 'cisecglq',
 'citotalq',
 'cogsq',
 'csh12q',
 'cshfd12',
 'cshfdq',
 'cshiq',
 'cshopq',
 'cshoq',
 'cshprq',
 'cstkcvq',
 'cstkeq',
 'cstkq',
 'dcomq',
 'dd1q',
 'deracq',
 'deraltq',
 'derhedglq',
 'derlcq',
 'derlltq',
 'diladq',
 'dilavq',
 'dlcq',
 'dlttq',
 'doq',
 'dpacreq',
 'dpactq',
 'dpq',
 'dpretq',
 'drcq',
 'drltq',
 'dteaq',
 'dtedq',
 'dteepsq',
 'dtepq',
 'dvintfq',
 'dvpq',
 'epsf12',
 'epsfi12',
 'epsfiq',
 'epsfxq',
 'epspi12',
 'epspiq',
 'epspxq',
 'epsx12',
 'esopctq',
 'esopnrq',
 'esoprq',
 'esoptq',
 'esubq',
 'fcaq',
 'ffoq',
 'finacoq',
 'finaoq',
 'finchq',
 'findlcq',
 'findltq',
 'finivstq',
 'finlcoq',
 'finltoq',
 'finnpq',
 'finreccq',
 'finrecltq',
 'finrevq',
 'finxintq',
 'finxoprq',
 'gdwlamq',
 'gdwlia12',
 'gdwliaq',
 'gdwlid12',
 'gdwlidq',
 'gdwlieps12',
 'gdwliepsq',
 'gdwlipq',
 'gdwlq',
 'glaq',
 'glcea12',
 'glceaq',
 'glced12',
 'glcedq',
 'glceeps12',
 'glceepsq',
 'glcepq',
 'gldq',
 'glepsq',
 'glivq',
 'glpq',
 'hedgeglq',
 'ibadj12',
 'ibadjq',
 'ibcomq',
 'ibmiiq',
 'ibq',
 'icaptq',
 'intaccq',
 'intanoq',
 'intanq',
 'invfgq',
 'invoq',
 'invrmq',
 'invtq',
 'invwipq',
 'ivaeqq',
 'ivaoq',
 'ivltq',
 'ivstq',
 'lcoq',
 'lctq',
 'lltq',
 'lnoq',
 'lol2q',
 'loq',
 'loxdrq',
 'lqpl1q',
 'lseq',
 'ltmibq',
 'ltq',
 'lul3q',
 'mibnq',
 'mibq',
 'mibtq',
 'miiq',
 'msaq',
 'ncoq',
 'niitq',
 'nimq',
 'niq',
 'nopiq',
 'npatq',
 'npq',
 'nrtxtdq',
 'nrtxtepsq',
 'nrtxtq',
 'obkq',
 'oepf12',
 'oeps12',
 'oepsxq',
 'oiadpq',
 'oibdpq',
 'opepsq',
 'optdrq',
 'optfvgrq',
 'optlifeq',
 'optrfrq',
 'optvolq',
 'piq',
 'pllq',
 'pnc12',
 'pncd12',
 'pncdq',
 'pnceps12',
 'pncepsq',
 'pnciapq',
 'pnciaq',
 'pncidpq',
 'pncidq',
 'pnciepspq',
 'pnciepsq',
 'pncippq',
 'pncipq',
 'pncpd12',
 'pncpdq',
 'pncpeps12',
 'pncpepsq',
 'pncpq',
 'pncq',
 'pncwiapq',
 'pncwiaq',
 'pncwidpq',
 'pncwidq',
 'pncwiepq',
 'pncwiepsq',
 'pncwippq',
 'pncwipq',
 'pnrshoq',
 'ppegtq',
 'ppentq',
 'prcaq',
 'prcd12',
 'prcdq',
 'prce12',
 'prceps12',
 'prcepsq',
 'prcpd12',
 'prcpdq',
 'prcpeps12',
 'prcpepsq',
 'prcpq',
 'prcraq',
 'prshoq',
 'pstknq',
 'pstkq',
 'pstkrq',
 'rcaq',
 'rcdq',
 'rcepsq',
 'rcpq',
 'rdipaq',
 'rdipdq',
 'rdipepsq',
 'rdipq',
 'recdq',
 'rectaq',
 'rectoq',
 'rectq',
 'rectrq',
 'recubq',
 'req',
 'retq',
 'reunaq',
 'revtq',
 'rllq',
 'rra12',
 'rraq',
 'rrd12',
 'rrdq',
 'rreps12',
 'rrepsq',
 'rrpq',
 'rstcheltq',
 'rstcheq',
 'saleq',
 'seqoq',
 'seqq',
 'seta12',
 'setaq',
 'setd12',
 'setdq',
 'seteps12',
 'setepsq',
 'setpq',
 'spce12',
 'spced12',
 'spcedpq',
 'spcedq',
 'spceeps12',
 'spceepsp12',
 'spceepspq',
 'spceepsq',
 'spcep12',
 'spcepd12',
 'spcepq',
 'spceq',
 'spidq',
 'spiepsq',
 'spioaq',
 'spiopq',
 'spiq',
 'sretq',
 'stkcoq',
 'stkcpaq',
 'teqq',
 'tfvaq',
 'tfvceq',
 'tfvlq',
 'tieq',
 'tiiq',
 'tstknq',
 'tstkq',
 'txdbaq',
 'txdbcaq',
 'txdbclq',
 'txdbq',
 'txdiq',
 'txditcq',
 'txpq',
 'txtq',
 'txwq',
 'uacoq',
 'uaoq',
 'uaptq',
 'ucapsq',
 'ucconsq',
 'uceqq',
 'uddq',
 'udmbq',
 'udoltq',
 'udpcoq',
 'udvpq',
 'ugiq',
 'uinvq',
 'ulcoq',
 'uniamiq',
 'unopincq',
 'uopiq',
 'updvpq',
 'upmcstkq',
 'upmpfq',
 'upmpfsq',
 'upmsubpq',
 'upstkcq',
 'upstkq',
 'urectq',
 'uspiq',
 'usubdvpq',
 'usubpcvq',
 'utemq',
 'wcapq',
 'wdaq',
 'wddq',
 'wdepsq',
 'wdpq',
 'xaccq',
 'xidoq',
 'xintq',
 'xiq',
 'xoprq',
 'xopt12',
 'xoptd12',
 'xoptd12p',
 'xoptdq',
 'xoptdqp',
 'xopteps12',
 'xoptepsp12',
 'xoptepsq',
 'xoptepsqp',
 'xoptq',
 'xoptqp',
 'xrdq',
 'xsgaq',
 'acchgy',
 'afudccy',
 'afudciy',
 'amcy',
 'aolochy',
 'apalchy',
 'aqay',
 'aqcy',
 'aqdy',
 'aqepsy',
 'aqpy',
 'arcedy',
 'arceepsy',
 'arcey',
 'capxy',
 'cdvcy',
 'chechy',
 'cibegniy',
 'cicurry',
 'cidergly',
 'cimiiy',
 'ciothery',
 'cipeny',
 'cisecgly',
 'citotaly',
 'ciy',
 'cogsy',
 'cshfdy',
 'cshpry',
 'cstkey',
 'depcy',
 'derhedgly',
 'dilady',
 'dilavy',
 'dlcchy',
 'dltisy',
 'dltry',
 'doy',
 'dpcy',
 'dprety',
 'dpy',
 'dteay',
 'dtedy',
 'dteepsy',
 'dtepy',
 'dvpy',
 'dvy',
 'epsfiy',
 'epsfxy',
 'epspiy',
 'epspxy',
 'esubcy',
 'esuby',
 'exrey',
 'fcay',
 'ffoy',
 'fiaoy',
 'fincfy',
 'finrevy',
 'finxinty',
 'finxopry',
 'fopoxy',
 'fopoy',
 'fopty',
 'fsrcoy',
 'fsrcty',
 'fuseoy',
 'fusety',
 'gdwlamy',
 'gdwliay',
 'gdwlidy',
 'gdwliepsy',
 'gdwlipy',
 'glay',
 'glceay',
 'glcedy',
 'glceepsy',
 'glcepy',
 'gldy',
 'glepsy',
 'glivy',
 'glpy',
 'hedgegly',
 'ibadjy',
 'ibcomy',
 'ibcy',
 'ibmiiy',
 'iby',
 'intpny',
 'invchy',
 'itccy',
 'ivacoy',
 'ivchy',
 'ivncfy',
 'ivstchy',
 'miiy',
 'ncoy',
 'niity',
 'nimy',
 'niy',
 'nopiy',
 'nrtxtdy',
 'nrtxtepsy',
 'nrtxty',
 'oancfy',
 'oepsxy',
 'oiadpy',
 'oibdpy',
 'opepsy',
 'optdry',
 'optfvgry',
 'optlifey',
 'optrfry',
 'optvoly',
 'pdvcy',
 'piy',
 'plly',
 'pncdy',
 'pncepsy',
 'pnciapy',
 'pnciay',
 'pncidpy',
 'pncidy',
 'pnciepspy',
 'pnciepsy',
 'pncippy',
 'pncipy',
 'pncpdy',
 'pncpepsy',
 'pncpy',
 'pncwiapy',
 'pncwiay',
 'pncwidpy',
 'pncwidy',
 'pncwiepsy',
 'pncwiepy',
 'pncwippy',
 'pncwipy',
 'pncy',
 'prcay',
 'prcdy',
 'prcepsy',
 'prcpdy',
 'prcpepsy',
 'prcpy',
 'prstkccy',
 'prstkcy',
 'prstkpcy',
 'rcay',
 'rcdy',
 'rcepsy',
 'rcpy',
 'rdipay',
 'rdipdy',
 'rdipepsy',
 'rdipy',
 'recchy',
 'revty',
 'rray',
 'rrdy',
 'rrepsy',
 'rrpy',
 'saley',
 'scstkcy',
 'setay',
 'setdy',
 'setepsy',
 'setpy',
 'sivy',
 'spcedpy',
 'spcedy',
 'spceepspy',
 'spceepsy',
 'spcepy',
 'spcey',
 'spidy',
 'spiepsy',
 'spioay',
 'spiopy',
 'spiy',
 'sppey',
 'sppivy',
 'spstkcy',
 'srety',
 'sstky',
 'stkcoy',
 'stkcpay',
 'tdcy',
 'tfvcey',
 'tiey',
 'tiiy',
 'tsafcy',
 'txachy',
 'txbcofy',
 'txbcoy',
 'txdcy',
 'txdiy',
 'txpdy',
 'txty',
 'txwy',
 'uaolochy',
 'udfccy',
 'udvpy',
 'ufretsdy',
 'ugiy',
 'uniamiy',
 'unopincy',
 'unwccy',
 'uoisy',
 'updvpy',
 'uptacy',
 'uspiy',
 'ustdncy',
 'usubdvpy',
 'utfdocy',
 'utfoscy',
 'utmey',
 'uwkcapcy',
 'wcapchy',
 'wcapcy',
 'wday',
 'wddy',
 'wdepsy',
 'wdpy',
 'xidocy',
 'xidoy',
 'xinty',
 'xiy',
 'xopry',
 'xoptdqpy',
 'xoptdy',
 'xoptepsqpy',
 'xoptepsy',
 'xoptqpy',
 'xopty',
 'xrdy',
 'xsgay',
 'iid',
 'exchg',
 'cik',
 'costat',
 'fic',
 'cshtrq',
 'dvpspq',
 'dvpsxq',
 'mkvaltq',
 'prccq',
 'prchq',
 'prclq',
 'adjex']

In [3]:
def get_5_years_of_earnings(gvkey, ticker, long_cusip):
    df = db.raw_sql('''
    select gvkey, tic, cusip as long_cusip, fyr, fqtr, fyearq, datadate, rdq 
    from comp.fundq 
    where tic = '{0}'
    and gvkey= '{1}'
    and cusip = '{2}' 
    and datadate > '2015-06-01'
    order by rdq asc
    '''.format(ticker, gvkey, long_cusip))
    return df

In [100]:
#example of how earnings events appear
get_5_years_of_earnings('012825', 'JJSF', '466032109')

     gvkey   tic      cusip  fyr  fqtr  fyearq    datadate         rdq
0   012825  JJSF  466032109  9.0   3.0  2015.0  2015-06-30  2015-07-27
1   012825  JJSF  466032109  9.0   4.0  2015.0  2015-09-30  2015-11-05
2   012825  JJSF  466032109  9.0   1.0  2016.0  2015-12-31  2016-01-25
3   012825  JJSF  466032109  9.0   2.0  2016.0  2016-03-31  2016-04-25
4   012825  JJSF  466032109  9.0   3.0  2016.0  2016-06-30  2016-07-25
5   012825  JJSF  466032109  9.0   4.0  2016.0  2016-09-30  2016-11-03
6   012825  JJSF  466032109  9.0   1.0  2017.0  2016-12-31  2017-01-23
7   012825  JJSF  466032109  9.0   2.0  2017.0  2017-03-31  2017-04-24
8   012825  JJSF  466032109  9.0   3.0  2017.0  2017-06-30  2017-07-24
9   012825  JJSF  466032109  9.0   4.0  2017.0  2017-09-30  2017-11-09
10  012825  JJSF  466032109  9.0   1.0  2018.0  2017-12-31  2018-01-29
11  012825  JJSF  466032109  9.0   2.0  2018.0  2018-03-31  2018-04-30
12  012825  JJSF  466032109  9.0   3.0  2018.0  2018-06-30  2018-07-30
13  012825  JJSF  466032109  9.0   4.0  2018.0  2018-09-30  2018-11-08
14  012825  JJSF  466032109  9.0   1.0  2019.0  2018-12-31  2019-01-28
15  012825  JJSF  466032109  9.0   2.0  2019.0  2019-03-31  2019-04-29
16  012825  JJSF  466032109  9.0   3.0  2019.0  2019-06-30  2019-07-29
17  012825  JJSF  466032109  9.0   4.0  2019.0  2019-09-30  2019-11-07
18  012825  JJSF  466032109  9.0   1.0  2020.0  2019-12-31  2020-01-27
19  012825  JJSF  466032109  9.0   2.0  2020.0  2020-03-31  2020-04-27

In [102]:
def build_statements_table(names):
    earnings = []
    temp = names[['gvkey', 'long_cusip', 'tic']].values
    for ent in temp:
        dates = get_5_years_of_earnings(ent[0], ent[2], ent[1])
        earnings.append(dates)
    earnings = pd.concat(earnings)
    return earnings

In [103]:
earnings = build_statements_table(names)

In [121]:
#consolidate the final earnings table to all needed points for price pulls
final_earnings = names.merge(earnings, how='left', on=['gvkey', 'tic', 'long_cusip'])
final_earnings=final_earnings.loc[(~final_earnings['rdq'].isnull())&(final_earnings['rdq']<='2019-12-20')].copy()
final_earnings.drop(['ncusip', 'tic', 'conm', 'long_cusip', 'namedt', 'nameenddt', 'st_date', 'end_date',
                     'cusip_score', 'ticker_match_score', 'name_match_score', 'average_match_score'], axis=1, inplace=True)
#final_earnings.to_csv('earnings_dates.csv', index=False)
final_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79608 entries, 0 to 118403
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   permno    79608 non-null  float64
 1   permco    79608 non-null  float64
 2   cusip     79608 non-null  object
 3   ticker    79608 non-null  object
 4   comnam    79608 non-null  object
 5   gvkey     79608 non-null  object
 6   naics     79608 non-null  object
 7   exchcd    79608 non-null  float64
 8   fyr       79608 non-null  float64
 9   fqtr      79557 non-null  float64
 10  fyearq    79608 non-null  float64
 11  datadate  79608 non-null  object
 12  rdq       79608 non-null  object
dtypes: float64(6), object(7)
memory usage: 8.5+ MB

In [2]:
names = pd.read_csv('company_names_matched.csv')
final_earnings=pd.read_csv('earnings_dates.csv')

### Below will perform analysis on all companies in our list so far to determine what a threshold of a "big move" around earnings time is. We will begin building a labeled dataset as we engineer features to input into our final model

##### Determining threshold for what moves at earnings time are of interest

We don't want to look at moves that are too big (could be resulting from a one time corporate action, a price split/reverse split, etc). We also don't want to look at moves that are big % wise but are too small nominally to be of much use in an options play. Looking at a sweet spot where there is atleast a certain size % change and also a big enough $ change, but not so big as to be a result of something other than what is a pure result of the earnings results

In [48]:
db.describe_table(library='crsp', table='dsf')

Approximately 96285900 rows in crsp.dsf.

       name  nullable              type
0     cusip      True           VARCHAR
1    permno      True  DOUBLE PRECISION
2    permco      True  DOUBLE PRECISION
3    issuno      True  DOUBLE PRECISION
4     hexcd      True  DOUBLE PRECISION
5    hsiccd      True  DOUBLE PRECISION
6      date      True              DATE
7     bidlo      True  DOUBLE PRECISION
8     askhi      True  DOUBLE PRECISION
9       prc      True  DOUBLE PRECISION
10      vol      True  DOUBLE PRECISION
11      ret      True  DOUBLE PRECISION
12      bid      True  DOUBLE PRECISION
13      ask      True  DOUBLE PRECISION
14   shrout      True  DOUBLE PRECISION
15   cfacpr      True  DOUBLE PRECISION
16  cfacshr      True  DOUBLE PRECISION
17  openprc      True  DOUBLE PRECISION
18   numtrd      True  DOUBLE PRECISION
19     retx      True  DOUBLE PRECISION

In [5]:
def get_20_trading_days(date,permno, cusip):
    date = dt.datetime.strptime(date, '%Y-%m-%d').date()
    st_dt = date+dt.timedelta(days=-14)
    end_dt = date+dt.timedelta(days=14)
    df = db.raw_sql('''
    select cusip, permno, date, prc, vol/1000 as vol, shrout, cfacpr, cfacshr, numtrd, 
    (prc * cfacpr) as adj_prc, (shrout *cfacshr) as adj_shares, (vol/(shrout*cfacshr*1000)) as pct_traded,
    case when prc != (prc*cfacpr) then 1 else 0 end as adj
    from crsp.dsf
    where date >= '{0}'
    and date <= '{1}'
    and permno = {2}
    and cusip = '{3}'
    '''.format(st_dt, end_dt, permno, cusip))
    return df

In [ ]:
#taking a random sample of 1000 earnings events to test different nominal and percentage changes for my thresholds
#test for daily returns, 2 day returns, 5 day returns, 10 day returns, and 20 day returns. 
#As well as volatility over the entire period

#graph some histograms of the distributions of your samples for volatility, and for returns, and nominal changes. 
#

In [7]:
trad = get_20_trading_days('2019-10-30' , 14593, '03783310')

In [80]:
def evaluate_earnings(date, permno, cusip, pct_thresh=0.06, nom_thresh=6, cum_pct_thresh_1=0.1, 
                      cum_nom_thresh_1=10, cum_pct_thresh_2=0.1, cum_nom_thresh_2=10):
    df = get_20_trading_days(date, permno, cusip)
    if df.empty:
        return ['Error']
    
    days=len(df['adj_prc'])
    if days<=7:
        return ['Error']
    
    #evaluates the pct and nom diffs
    try:
        pct_diff = df['adj_prc'].pct_change()
        nom_diff = df['adj_prc'].diff()
        max_pct_diff = pct_diff.max()
        max_nom_diff=nom_diff.max()
    except Exception:
        return ['Error']
    
    #evaluates the cumulate pct and nom diffs
    start, end = 0, 4
    cum_pct_diff = []
    cum_nom_diff = []
    while end< days:
        cum_pct_diff.append(pct_diff.iloc[start:end].sum())
        cum_nom_diff.append(nom_diff.iloc[start:end].sum())
        start+=1
        end+=1
    max_cum_pct_diff = max(cum_pct_diff)
    max_cum_nom_diff = max(cum_nom_diff)
    
    #evaluates the cumulate pct and nom diffs level 2
    start, end = 0, 7
    cum_pct_diff_2 = []
    cum_nom_diff_2 = []
    while end< days:
        cum_pct_diff_2.append(pct_diff.iloc[start:end].sum())
        cum_nom_diff_2.append(nom_diff.iloc[start:end].sum())
        start+=1
        end+=1
    max_cum_pct_diff_2 = max(cum_pct_diff_2)
    max_cum_nom_diff_2 = max(cum_nom_diff_2)
    
    #boolean checks
    move_pct = max_pct_diff > pct_thresh
    move_cum_pct_1 = max_cum_pct_diff > cum_pct_thresh_1
    move_cum_pct_2 = max_cum_pct_diff_2 > cum_pct_thresh_2
    
    move_nom = max_nom_diff > nom_thresh
    move_cum_nom_1 = max_cum_nom_diff > cum_nom_thresh_1
    move_cum_nom_2 = max_cum_nom_diff_2 > cum_nom_thresh_2
    
    return move_pct, move_nom, move_cum_pct_1, move_cum_nom_1, move_cum_pct_2, move_cum_nom_2,

In [50]:
test = get_20_trading_days('2018-04-23', 56641.0, '02927U20' )

In [51]:
test.empty

True

In [77]:
sample = final_earnings.sample(n=600)
sample

,permno,permco,cusip,ticker,comnam,gvkey,naics,exchcd,fyr,fqtr,fyearq,datadate,rdq
57923,85337.0,32078.0,45646310,IBA,INDUSTRIAS BACHOCO S A DE C V,221545,311615,1.0,12.0,3.0,2015.0,2015-09-30,2015-10-22
44471,76076.0,10486.0,17275R10,CSCO,CISCO SYSTEMS INC,20779,334210,3.0,7.0,1.0,2019.0,2018-10-31,2018-11-14
12700,14521.0,54772.0,89628810,TNET,TRINET GROUP INC,140988,518210,1.0,12.0,2.0,2018.0,2018-06-30,2018-07-30
69655,90427.0,45732.0,88268110,TXRH,TEXAS ROADHOUSE INC,160376,722511,3.0,12.0,4.0,2017.0,2017-12-31,2018-02-20
31169,18426.0,56666.0,Y2067610,DSSI,DIAMOND S SHIPPING INC,34956,483111,1.0,12.0,4.0,2018.0,2018-12-31,2019-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74295,91742.0,51660.0,83558L20,SNOA,SONOMA PHARMACEUTICALS INC,175424,325412,3.0,3.0,1.0,2015.0,2015-06-30,2015-07-30
43775,75416.0,21995.0,74971D10,RPT,R P T REALTY,15111,531120,1.0,12.0,2.0,2015.0,2015-06-30,2015-07-21
27503,17251.0,56220.0,65441V10,NINE,NINE ENERGY SERVICES INC,31507,213112,1.0,12.0,3.0,2018.0,2018-09-30,2018-11-12
51253,80498.0,13092.0,03076K10,ABCB,AMERIS BANCORP,30222,522110,3.0,12.0,4.0,2016.0,2016-12-31,2017-01-20
59757,86111.0,34770.0,03027X10,AMT,AMERICAN TOWER CORP NEW,105365,531120,1.0,12.0,1.0,2018.0,2018-03-31,2018-05-01

In [78]:
def get_aggregate_earnings_evals(df, pct_thresh=0.06, nom_thresh=6, cum_pct_thresh_1=0.1, 
                      cum_nom_thresh_1=10, cum_pct_thresh_2=0.1, cum_nom_thresh_2=10 ):
    evals = []
    counter = 0
    keys=['move_pct', 'move_nom', 'move_cum_pct_1', 'move_cum_nom_1', 'move_cum_pct_2', 'move_cum_nom_2']
    for row in df.itertuples():
        #print(counter)
        temp = evaluate_earnings(row.rdq, row.permno, row.cusip, pct_thresh=pct_thresh, nom_thresh=nom_thresh, 
                                 cum_pct_thresh_1=cum_pct_thresh_1, cum_pct_thresh_2=cum_pct_thresh_2, 
                                 cum_nom_thresh_2=cum_nom_thresh_2)
        if 'Error' in temp:
            evals.append({'rdq':row.rdq, 'permno':row.permno, 'cusip':row.cusip, 'Error':True})
        else:
            temp = [1 if x == True else 0 for x in temp]
            temp = {key:val for key, val in zip(keys, temp)}
            temp = {**temp, **{'rdq':row.rdq, 'permno':row.permno, 'cusip':row.cusip, 'Error':False}}
            evals.append(temp)
        counter+=1
        if counter%100 ==0:
            print(counter)
    evals = pd.DataFrame(evals)    
    return evals

In [72]:
sample.iloc[84]

permno                         18768
permco                         56785
cusip                       M4R82T10
ticker                          FVRR
comnam      FIVERR INTERNATIONAL LTD
gvkey                          35222
naics                         519130
exchcd                             1
fyr                               12
fqtr                               4
fyearq                          2018
datadate                  2018-12-31
rdq                       2019-06-03
Name: 31904, dtype: object

In [76]:
evaluate_earnings('2019-06-03', 18768, 'M4R82T10')

['Error']

In [81]:
eval_sample = get_aggregate_earnings_evals(sample)

100
200
300
400
500
600

In [82]:
eval_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   move_pct        574 non-null    float64
 1   move_nom        574 non-null    float64
 2   move_cum_pct_1  574 non-null    float64
 3   move_cum_nom_1  574 non-null    float64
 4   move_cum_pct_2  574 non-null    float64
 5   move_cum_nom_2  574 non-null    float64
 6   rdq             600 non-null    object
 7   permno          600 non-null    float64
 8   cusip           600 non-null    object
 9   Error           600 non-null    bool
dtypes: bool(1), float64(7), object(2)
memory usage: 42.9+ KB

In [66]:
4/80

0.05

In [62]:
eval_sample.loc[~eval_sample['move_nom'].isnull()]

,move_pct,move_nom,move_cum_pct_1,move_cum_nom_1,move_cum_pct_2,move_cum_nom_2,rdq,permno,cusip,Error
0,0.0,0.0,0.0,0.0,0.0,0.0,2019-10-31,18369.0,76209310,False
1,1.0,1.0,1.0,0.0,1.0,0.0,2019-08-08,85067.0,57793310,False
4,1.0,0.0,0.0,0.0,0.0,0.0,2017-11-02,13962.0,63009R10,False
5,0.0,0.0,0.0,0.0,0.0,0.0,2016-10-25,35263.0,89840210,False
6,1.0,0.0,0.0,0.0,1.0,0.0,2015-10-27,90199.0,12504L10,False
...,...,...,...,...,...,...,...,...,...,...
79,1.0,0.0,0.0,0.0,0.0,0.0,2017-03-02,80375.0,68162K10,False
80,1.0,0.0,0.0,0.0,0.0,0.0,2019-04-26,14619.0,17878Y10,False
81,1.0,0.0,0.0,0.0,0.0,0.0,2016-02-02,84314.0,G4481U10,False
82,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-26,91727.0,89421B10,False
83,1.0,0.0,0.0,0.0,0.0,0.0,2017-05-02,79336.0,52989810,False

##### test for big moves around those dates for the 10 trading days before/after the announcement for the last 5 years

In [ ]:
def test_for_moves

In [53]:
'Error' in [1,2,4,'Error', 7]

True

##### Repeat for all companies and compile a table with yes/no labels for each period.

The final output will be ticker/cusip/permno/company_name and then date and label